#result-list {
  height: calc(100% - 114px);
  padding: 10px 8px 0px 8px;
  overflow-y: scroll;

  div.item {
    width: 100%;
    height: 33%;
    margin: 0 0 12px 0;
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.32);

    div.row {
      width: 100%;
      height: 80%;
      display: flex;

      div.col {
        display: flex;
        flex-direction: column;
      }

      div.image-holder {
        width: 40%;
        padding: 5px;
        display: flex;
        justify-content: center;

        img {
          width: 100%;
        }
      }

      div.description {
        width: 60%;
        padding: 25px 15px;
        background-color: #fdfdfd;
        border-radius: 0 5px 5px 0;

        div.row {
          width: 100%;
          display: flex;
          align-items: center;

          div.price {
            span {
              margin-right: 5px;
              font-weight: 600;
              font-size: 18px;

              &.best {
                color: crimson;
              }
            }
          }

          div.bdtag {
            span {
              color: #ffffff;
              background-color: #44bd32;
              padding: 2px 6px;
              border-radius: 5px;
              font-size: 12px;
            }
          }

          div.productname {
            width: 100%;

            text-wrap {
              margin: 5px 0;
              font-size: 15px;
              white-space: pre-wrap;
            }
          }
        }

        div.inflate {
          height: 100%;
        }
      }

      &.footer {
        height: 20%;

        >div.col {
          border-top: solid 1px #d3d3d3;
          display: flex;
          justify-content: center;
        }

        div.col {
          width: 100%;

          .shop {
            padding-left: 15px;
            justify-content: center;

            img {
              width: 50px;
            }
          }

          .buttons {
            justify-content: center;

            div.button {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              button {
                border: none;
                outline: none;
                background: transparent;
                outline: none;

                &.follow {
                  color: #44bd32;
                }

                i {
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}
