section.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f3f3f3;
  border-bottom: 1px solid #bfbfbf;

  i {
    margin: 0 10px;
    font-size: 27px;
    color: #3F4448;
    cursor: pointer;
  }

  span {
    color: #F6F8FA;
    text-transform: uppercase;
    font-weight: 600;
  }

  div.input-icons {
    width: 100%;
    margin-right: 85px;

    i {
      position: absolute;
      font-size: 20px;
      padding: 3px 5px;
    }

    input#search {
      width: 100%;
      padding: 6px 30px;
      margin: 0 10px;
      border-radius: 5px;
      background-color: #d6d6d6;
      color: #24292E;
      border: unset;
      outline: none;
      transition: 50ms box-shadow ease-in-out;
    }

    input#search:focus {
      box-shadow: 0px 0px 1px 2px #2f3640;
    }
  }

  &.dark {
    background-color: #24292E;

    i {
      color: #F6F8FA;
    }

    div.input-icons {
      input#search {
        background-color: #3F4448;
        color: #F6F8FA;
      }
    }
  }

}

.navbar {
  border-top: 1px solid #bfbfbf;
  background-color: #f3f3f3;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  z-index: 100;

  /* Style the links inside the navigation bar */
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    padding: 12px;
    color: #353b48;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
  }

  /* Add a color to the active/current link */
  a.active {
    color: #44bd32;
    position: relative;
  }

  a.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 3px);
    border-bottom: 3px solid #44bd32;
  }

  &.dark {
    background-color: #24292E;

    a {
      color: whitesmoke;
    }
  }
}
